## Introduction
The project is about finding the most popular content category for a social media company called "Social Buzz".
I will be using three datasets to achieve this objective. The datasets are:
* Content
* Reaction
* ReactionTypes
More details on the datasets:
### Content
ID: Unique ID of the content that was uploaded (automatically generated)

User ID: Unique ID of a user that exists in the User table

Type: A string detailing the type of content that was uploaded

Category: A string detailing the category that this content is relevant to

URL: Link to the location where this content is stored

### Reaction
Content ID: Unique ID of a piece of content that was uploaded

User ID: Unique ID of a user that exists in the User table who reacted to this piece of content

Type: A string detailing the type of reaction this user gave

Datetime: The date and time of this reaction

### ReactionTypes
Type: A string detailing the type of reaction this user gave

Sentiment: A string detailing whether this type of reaction is considered as positive, negative or neutral

Score: This is a number calculated by Social Buzz that quantifies how “popular” each reaction is. A reaction type with a higher score
should be considered as a more popular reaction.

#### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

## Data Wrangling

### Data Gathering

In [2]:
#import datasets
df1 = pd.read_csv('Content.csv',index_col=0)
df2 = pd.read_csv('Reactions.csv',index_col=0)
df3 = pd.read_csv('ReactionTypes.csv',index_col=0)

### Assessing Data

### Visual Assessment

#### Content dataset (df1)

In [3]:
#show all rows and columns from dataset
df1

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

#### Reactions dataset (df2)

In [4]:
df2

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

#### Reaction Types dataset (df3)

In [5]:
df3

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

### Programmatic Assessment

#### Content dataset (df1)

In [6]:
#list first 5 rows
df1.head()

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [7]:
#check the number of rows, columns, datatypes and missing data
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 46.9+ KB

In [8]:
#check basic statistics
df1.describe()

,Content ID,User ID,Type,Category,URL
count,1000,1000,1000,1000,801
unique,1000,446,4,41,801
top,97522e57-d9ab-4bd6-97bf-c24d952602d2,72d2587e-8fae-4626-a73d-352e6465ba0f,photo,technology,https://socialbuzz.cdn.com/content/storage/975...
freq,1,8,261,71,1

In [9]:
#check for null values
df1.isna().sum()

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [10]:
#check for duplicates
df1.duplicated().sum()

0

In [11]:
#check for duplicates in User ID
df1["User ID"].duplicated().sum()

554

In [12]:
#check the unique values in Type
df1.Type.unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [13]:
#check the unique values in Type
df1.Category.unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

#### Reactions dataset (df2)

In [14]:
#list first 5 rows
df2.head()

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [15]:
#check the number of rows, columns, datatypes and missing data
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  object
dtypes: object(4)
memory usage: 998.2+ KB

In [16]:
#check basic statistics
df2.describe()

,Content ID,User ID,Type,Datetime
count,25553,22534,24573,25553
unique,980,500,16,25542
top,4b2d0fff-3b4f-43ca-a7df-c430479cb9ba,c76c3393-88e2-47b0-ac37-dc4f2053f5a5,heart,2020-10-29 20:51:08
freq,49,65,1622,2

In [17]:
#check for null values
df2.isna().sum()

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [18]:
#check for duplicates
df2.duplicated().sum()

0

In [19]:
#check for duplicates in User ID
df2["User ID"].duplicated().sum()

25052

In [20]:
#check the unique values in Type
df2.Type.unique()

array([nan, 'disgust', 'dislike', 'scared', 'interested', 'peeking',
       'cherish', 'hate', 'love', 'indifferent', 'super love',
       'intrigued', 'worried', 'like', 'heart', 'want', 'adore'],
      dtype=object)

#### Reaction Types dataset (df3)

In [21]:
#list first 5 rows
df3.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [22]:
#check the number of rows, columns, datatypes and missing data
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [23]:
#check basic statistics
df3.describe()

           Score
count  16.000000
mean   39.625000
std    26.901983
min     0.000000
25%    14.250000
50%    40.000000
75%    66.250000
max    75.000000

In [24]:
#check for null values
df3.isna().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [25]:
#check for duplicates
df3.duplicated().sum()

0

In [26]:
#check the unique values in Type
df3.Type.unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [27]:
#check the unique values in Sentiment
df3.Sentiment.unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [28]:
#check the unique values in Score
df3.Score.unique()

array([60, 70,  0,  5, 30, 20, 65, 75, 72, 50, 10, 45, 35, 15, 12],
      dtype=int64)

### Quality issues
#### Content dataset (df1)

* Content ID and User ID column names are not convenient to use
* Category column datatype is string
* Type column name is not appropriate
* Missing data is present in URL

#### Reactions dataset (df2)

* Content ID and User ID column names are not convenient to use
* Type column datatype is string which should not be
* Datetime column datatype is string which should not be
* Missing data is present in User ID
* Missing data is present in Type

#### Reaction Types dataset (df3)

* Type column datatype is string which should not be
* Sentiment column datatype is string which should not be

### Tidiness issues

* The three tables are not merged together

### Cleaning

### Quality Issues

In [29]:
#make a copy of the 3 dataset before cleaning
#rename `Content ID` to ContendID
df1_copy = pd.read_csv('Content.csv',index_col=0)
df2_copy = pd.read_csv('Reactions.csv',index_col=0)
df3_copy = pd.read_csv('ReactionTypes.csv',index_col=0)

#### Content dataset (df1)

#### Define
I will rename `Content ID` to `ContendID`, and `User ID` to `UserID`

#### Code

In [30]:
#rename Content ID to ContendID
df1.rename(columns={'Content ID':'ContentID','User ID':'UserID'}, inplace=True)

#### Test

In [31]:
#list the column names
df1.columns

Index(['ContentID', 'UserID', 'Type', 'Category', 'URL'], dtype='object')

#### Define
I will change `Category` datatype to `category` datatype

#### Code

In [32]:
#change Category datatype to category datatype
df1.Category = df1.Category.astype('category')

#### Test

In [33]:
#see the datatype of the columns
df1.dtypes

ContentID      object
UserID         object
Type           object
Category     category
URL            object
dtype: object

#### Define
I will rename `Type` to `ContendType`

#### Code

In [35]:
#rename Content ID to ContendID
df1.rename(columns={'Type':'ContentType'}, inplace=True)

#### Test

In [36]:
#list the column names
df1.columns

Index(['ContentID', 'UserID', 'ContentType', 'Category', 'URL'], dtype='object')

#### Define
I will drop rows that has no URL

#### Code

In [37]:
#drop rows that has no URL
df1.dropna(inplace=True)

#### Test

In [38]:
#see if missing values exist
df1.isna().sum()

ContentID      0
UserID         0
ContentType    0
Category       0
URL            0
dtype: int64

#### Reactions dataset (df2)

#### Define
I will rename `Content ID` to `ContendID`, and `User ID` to `UserID`

#### Code

In [39]:
#rename Content ID to ContendID
df2.rename(columns={'Content ID':'ContentID','User ID':'UserID'}, inplace=True)

#### Test

In [40]:
#list the column names
df2.columns

Index(['ContentID', 'UserID', 'Type', 'Datetime'], dtype='object')

#### Define
I will change `Type` datatype to `category` datatype

#### Code

In [41]:
#change Category datatype to category datatype
df2.Type = df2.Type.astype('category')

#### Test

In [42]:
#see the datatype of the columns
df2.dtypes

ContentID      object
UserID         object
Type         category
Datetime       object
dtype: object

#### Define
I will change `datetime` datatype to `datetime` datatype

#### Code

In [43]:
#change datetime datatype to datetime
df2.Datetime = pd.to_datetime(df2.Datetime)

#### Test

In [44]:
#see the datatype of the columns
df2.dtypes

ContentID            object
UserID               object
Type               category
Datetime     datetime64[ns]
dtype: object

#### Define
I will drop rows that has missing values. I have no reason to impute missing values

#### Code

In [45]:
#drop rows that has no URL
df2.dropna(inplace=True)

#### Test

In [46]:
#see if missing values exist
df2.isna().sum()

ContentID    0
UserID       0
Type         0
Datetime     0
dtype: int64

#### Reaction Types dataset (df3)

#### Define
I will change `Type`  datatype to `category` datatype

#### Code

In [47]:
#change Category datatype to category datatype
df3.Type = df3.Type.astype('category')

#### Test

In [48]:
#see the datatype of the columns
df3.dtypes

Type         category
Sentiment      object
Score           int64
dtype: object

#### Define
I will change `Sentiment`  datatype to `category` datatype

#### Code

In [49]:
#change Category datatype to category datatype
df3.Sentiment = df3.Sentiment.astype('category')

#### Test

In [50]:
#see the datatype of the columns
df3.dtypes

Type         category
Sentiment    category
Score           int64
dtype: object

### Tidiness Issues